p{
    color: blue;
    font-size: 30px;
    justify-content: center;
    position: absolute;
}
.container{
    /* width: 800px;
    height: 500px;
    border: 1px solid black;
    padding:10px;
    margin:30px; */
    display: flex;
}
.container img{
    width: 300px;
    height: auto;
}