body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    background-color:rgb(33, 122, 194);
    padding: 20px;
    color: white !important;
    
}

header li{
    margin: 0;
    font-size: 22px;

}

